html{
    font-family: 'Times New Roman', Times, serif;
    margin-left:  150px; ;
    padding-left: 150px;
    padding-top: 30px;
}


.label {
    display: inline-block;
    width: 15%;
    
}
span {
    color: red;
}

.ip {
    display: inline-block;
} 

#divi {
    display: flex;
    justify-content: center;
    max-width: 30%;
}

#k {
    margin: 2px;
}
#mem{
    margin-left: 30%;
}

